<h1> Emails </h1>

<% @emails.each do |email| %>
  <div class="email-entry">
    <strong>Sender:</strong> <%= email.sender %><br>
    <strong>Subject:</strong> <%= email.subject %><br>
    <strong>Date:</strong> <%= email.email_date.strftime('%Y-%m-%d') if email.email_date %><br>
    <hr>
  </div>
<% end %>