<h1>Sync Emails before moving forward</h1>
<div><%= link_to 'Sync All Emails', sync_emails_emails_path %></div>
<div><%= link_to 'Sync Emails by Date Range', sync_emails_with_date_range_emails_path %></div>
<div><%= link_to 'Dashboard', dashboard_emails_path %></div>

<% if user_signed_in? %>
  <div><%= button_to "Logout", destroy_user_session_path, method: :delete %></div>
<% end %>